body {
  height: 100vh;
  margin: 0;
  font-family: roboto;
  display: flex;
  flex-direction: column;
}

.header-container {
  background-color: #1F2937;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.top-header {
  display: flex;
  justify-content: space-around;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

ul a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.bottom-header {
  padding: 100px;
  display: flex;
  justify-content: space-around;
}

.intro-text {
  max-width: 50ch;
}

.intro-text h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0;
}

.intro-text p {
  margin: 0;
  max-width: 47ch;
}

.signup {
  cursor: pointer;
  background-color: #3882F6;
  color: #fff;
  border: 0 solid #000;
  border-radius: 6px;
  padding: 5px 20px;
  margin-top: 16px;
}


.header-image {
  height: 200px;
  width: 400px;
  padding: 10px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* random info */
h2 {
  text-align: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 30px 0 60px 0;
}

.card-info {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.card {
  align-self: center;
  border: 4px solid #3882F6;
  border-radius: 10px;
  height: 135px;
  width: 135px;
}

.card-text {
  font-size: 18px;
  color: #1c1b1b;
  margin: 0;
  max-width: 18ch;
  text-align: center;
}

/* quote */
.quote {
  background: #E5E7EB;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.quote p {
  max-width: 58ch;
  padding: 16px;
  margin: 0;
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
 
}

.quote h3 {
  margin: 0;
  padding: 0 20px;
  align-self: flex-end;
}

/* cta */
.cta {
   padding: 50px;
   display: flex;
   justify-content: center;
}

.cta-wrapper {
  font-family: sans;
  background-color: #3882F6;
  border-radius: 6px; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 20px;
}

.cta-text h4 {
  color: #fff;
  margin: 0;
}

.cta-text p {
  color: #fff;
  margin: 0;
}

.two {
  cursor: pointer;
  background-color: #3882F6;
  border: 2px solid white;
  color: #fff;
  border-radius: 6px;
  padding: 4px 16px;
}

.footer {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
}
/* footer */
.footer p {
  color: #E5E7EB
}
