body {
  height: 100vh;
  margin: 0;
  font-family: roboto;
  display: flex;
  flex-direction: column;
}

.header-container {
  padding: 50px;
  border: 1px solid blue;
  background-color: #1F2937;
  color: white;
  display: flex;
  justify-content: space-around;
}

.left-header {
  border: 1px solid red;
}

.intro-text {
  max-width: 50ch;
}

.signup {
  background-color: #3882F6;
  color: #fff;
  border: 0 solid #000;
  border-radius: 6px;
  padding: 5px 20px;
}

.right-header {
  border: 3px solid green;
  flex-shrink: 0;

}

.right-header ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  gap: 30px;
}

ul a {
  text-decoration: none;
  color: white;
}

.header-image {
  height: 200px;
  width: 400px;
  padding: 10px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* random info */
h2 {
  text-align: center;
}

.card-container {
  border: 3px solid red;
  display: flex;

  justify-content: space-evenly;
  gap: 30px;
}

.card {
  border: 3px solid blue;
  border-radius: 10px;
  height: 100px;
  width: 130px;
}

.card-info {
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-text {
  border: 1px solid rgb(42, 255, 4);
  display: flex;
  align-self: center;
  max-width: 17ch;
  margin: 0;
}


/* quote */
.quote {
  background: #E5E7EB;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.quote p {
  max-width: 65ch;
  padding: 16px;
  margin: 0;
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
 
}

.quote h3 {
  margin: 0;
  padding: 0 20px;
  align-self: flex-end;
}

/* cta */
.cta {
   border: 1px solid red;
   display: flex;
   justify-content: space-around;
   padding: 40px;
}

.cta-wrapper {
  border: 1px solid red;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  background-color: #3882F6;
}

.cta-text {
  max-width: 40ch;

}
.signup2 {
  background-color: black;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
}
